<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>MyChat</h1>
    <form
      action="http://127.0.0.1:8000/api/v1/auth/register/"
      enctype="multipart/form-data"
      method="post"
    >
     <!-- <input type="text" name="fio" id="a" value="tempm@email.com" />
      <input type="text" name="password" id="b" value="tempm@email.com" />
      <input type="email" name="email" id="c" value="tempm@email.com" />
      <input type="file" name="avatar" id="d" />
      <input type="number" name="role_id" id="e" value="1" />
      <button id="" type="submit">Отправить</button>
    </form>
    <form
      action="http://127.0.0.1:8000/api/v1/token/"
      enctype="multipart/form-data"
      method="post"
    >
      <input type="text" name="username" id="a" value="Tigran" />
      <input type="text" name="password" id="b" value="tempm@email.com" />
      <button id="btn__send" type="submit">Отправить</button>
    </form> -->

    <form action="" id="form">
      <input type="text" name="message"/>
    </form>

    <div class="messages"></div>
    <script type="text/javascript">
        let url = `ws://127.0.0.1:8000/ws/socket-server/`;

        const chatSocket = new WebSocket(url)
        console.log('haha')
        chatSocket.onmessage = function(e){
          console.log("hahahahaha")
          let data = JSON.parse(e.data)
          console.log("Data: ", data);

          if(data.type === 'chat'){
            let messages = document.querySelector('.messages')
            messages.innerHTML += `<div>
                <p>${data.message}</p>
            </div>`
        }

        }

        let form = document.querySelector("#form");
        form.addEventListener('submit', (e) => {
          e.preventDefault()

          let message = e.target.message.value
          chatSocket.send(JSON.stringify({
            "message": message
          }))
          form.reset()
        })
    </script>
  </body>
</html>
